* {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
}

body {
    padding: 8px;
}

h1 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    background-image: linear-gradient(30deg, rgba(27, 166, 236, 0.6), rgba(7, 170, 234, 0.6));
}

th, td {
    padding: 10px 8px;
    text-align: center;
}

tr[class="read"] {
    background-image: linear-gradient(30deg, rgba(108, 251, 108, 0.6), rgba(64, 248, 64, 0.6));
}

tr[class="to-read"] {
    background-image: linear-gradient(30deg, rgba(240, 245, 240, 0.6), rgba(179, 204, 179, 0.6));
}

tr[class="in-progress"] {
    background-image: linear-gradient(30deg, rgba(237, 193, 201, 0.6), rgba(243, 94, 94, 0.6));
}

span {
    display: inline-block;
}

span[class="status"],
span[class^="rate"] {
    height: fit-content;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
}

tr[class="to-read"] span[class="status"] {
    border: 1.5px solid rgb(241, 24, 5);
    background-image: linear-gradient(rgb(255, 138, 128), rgb(255, 21, 0));
}

tr[class="read"] span[class="status"] {
    border: 1.5px solid rgb(29, 201, 29);
    background-image: linear-gradient(rgb(143, 239, 143), rgb(32, 223, 32));
}

tr[class="in-progress"] span[class="status"] {
    border: 1.5px solid rgb(194, 133, 10);
    background-image: linear-gradient(rgb(249, 210, 134), rgb(242, 166, 13));
}

span[class="rate"] {
    display: flex;
    align-items: center;
}

span[class^="rate"] > span {
    border: 0.1em solid rgb(128, 128, 128);
    border-radius: 50%;
    background-color: rgb(244, 240, 240);
    height: 20px;
    width: 20px;
    margin: 4px;
}

span[class~="three"] span {
    background-image: linear-gradient(rgb(255, 230, 102), rgb(255, 213, 0));
}

span[class~="two"] :nth-child(1),
span[class~="two"] :nth-child(2) {
    background-image: linear-gradient(rgb(255, 230, 102), rgb(255, 213, 0));
}

span[class~="one"] :first-child {
    background-image: linear-gradient(rgb(255, 230, 102), rgb(255, 213, 0));
}