* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #cfae67;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.logo {
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand a {
    color: #F5F5F5;
    text-decoration: none;
    font-family: 'french script mt', sans-serif;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.nav-link {
    padding: 6px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #F5F5F5;
    transition: 300ms ease all;
    border: 2px solid transparent;
}

.nav-link:hover {
    background: #eed5a7d8;
}

.nav-link:last-of-type {
    background: #b48f27;
    border-radius: 20px;
    padding: 6px 14px;
    transition: 400ms all ease;
}

.nav-link:last-of-type:hover {
    border-color: #dfd89fb7;
}

main {
    width: 100%;
    height: fit-content;
}

section {
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

#home video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
}

#home h1 {
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -4px;
    color: #e6c352;
    text-shadow: 0 3px #fff;
}

#home h1 span {
    font-size: 4.5rem;
    letter-spacing: .5px;
}

#home h3 {
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #1A1A1A;
}

#home a {
    padding: 16px;
    border-radius: 10px;
    background: #d4af47;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #f5d69e;
    color: #F5F5F5;
    transition: 300ms ease all;
}

#home a:hover {
    background: #af8d2e;
    border-color: #dfd89f;
}


#explore {
    gap: 24px;
    display: grid;
    grid-template-rows: 1fr 100px;
    padding: 70px 24px 16px 24px;
    border-top: 2px solid #f5d69e;
    background: linear-gradient(90deg, #cab081, #977c4a);
}

.about {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
}

.about img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about>div {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.about>div a {
    background: #b48f27;
    border-radius: 50px;
    padding: 16px 24px;
    text-decoration: none;
    color: #F5F5F5;
    transition: 400ms all ease;
    border: 2px solid #e6c352;
}

.about>div a:hover {
    border-color: #dfd89fb7;
}

.about h2,
.about h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F5F5F5;
}

.about h2 {
    font-size: 3rem;
}

.about h4 {
    font-size: 1.5rem;
}

.about p {
    font-size: 18px;
    color: #F5F5F5;
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
}

.testimonial .quote {
    width: fit-content;
    min-height: 100px;
    border: 2px solid #f5d69e;
    border-radius: 10px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.5);
    color: #1A1A1A;
}

#request {
    border-top: 2px solid #f5d69e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 24px 16px 24px;
    background: linear-gradient(90deg, #cab081, #977c4a);
}

#request form {
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 2px 2px #e6c352;
    justify-content: center;
    flex-direction: column;
    background: #af8d2e;
    gap: 24px;
}

form h3 {
    font-size: 2rem;
    color: #F5F5F5;
}

form input {
    padding: 16px 24px;
    width: 80%;
    border-radius: 50px;
    border: 2px solid #e6c352;
    outline: none;
    background: transparent;
    color: #F5F5F5;
}

form input::placeholder {
    color: #F5F5F5;
}

form button {
    width: 80%;
    padding: 16px 24px;
    width: 80%;
    border-radius: 50px;
    border: 2px solid #e6c352;
    background: #d4af47;
    cursor: pointer;
    outline: none;
    color: #F5F5F5;
    font-size: 18px;
}

footer {
    padding: 16px;
    font-family: 'french script mt';
    font-size: 1.8rem;
    text-align: center;
    color: #F5F5F5;
    background: linear-gradient(90deg, #cab081, #977c4a);
}


@media (max-width: 500px) {
    #home h1 {
        text-align: center;
        font-size: 4rem;
    }

    #home h3 {
        font-size: 2rem;
        text-align: center;
    }

    #home a {
        width: 50%;
    }

    #explore {
        width: 100%;
        padding: 24px 8px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 24px;
        height: fit-content;
    }

    #explore .about {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .about img {
        max-width: 300px;
        place-self: center;
    }

    .about>div {
        max-width: 450px;
        place-self: center;
    }

    .about h2 {
        font-size: 2rem;
        text-align: center;
    }

    .about h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .about p {
        text-align: center;
        place-self: center;
    }

    .about a {
        place-self: center;
    }

    .testimonial {
        grid-template-columns: repeat(2, 1fr);
        height: fit-content;
    }

    #request {
        padding: 16px;
    }

    #request form {
        width: 80%;
    }
}
